<h2 class="typeset">Web Design.</h2>

<div class="portfolio">
  <div class="box">
    <a href="https://pizzapgh.github.io/test_bsb/index.html" target="_blank"><img src="{{ "/assets/bobs-site.png" | prepend: site.baseurl }}" alt=""></a>
  </div>
  <div class="box">
    <a href="https://pizzapgh.github.io/ncd-site/" target="_blank"><img src="{{ "/assets/ncd-weld.png" | prepend: site.baseurl }}" alt=""></a>
  </div>
</div>
<div class="portfolio">
  <div class="box">
    <a href="https://pizzapgh.github.io/katie_simone/" target="_blank"><img src="{{ "/assets/katie-site.png" | prepend: site.baseurl }}" alt=""></a>
  </div>
  <div class="box">
    <a href="http://brasstackspgh.com/" target="_blank"><img src="{{ "/assets/brass.png" | prepend: site.baseurl }}" alt=""></a>
  </div>
</div>

<h2 class="typeset cb-push blue-h2">Other Design.</h2>

    <div class="portfolio">
      <div class="box">
        <a href="{{ "/assets/project-parker.jpg" | prepend: site.baseurl }}" data-title="Dave Parker T-Shirt Design" data-lightbox="projects"><img src="{{ "/assets/parker.png" | prepend: site.baseurl }}" alt=""></a>
      </div>
      <div class="box">
            <a href="{{ "/assets/project-katie.jpg" | prepend: site.baseurl }}" data-title="Katie Simone Poster Design" data-lightbox="projects"><img src="{{ "/assets/katie.png" | prepend: site.baseurl }}" alt=""></a>
      </div>
    </div>

    <div class="portfolio">
      <div class="box">
            <a href="{{ "/assets/project-maimed.jpg" | prepend: site.baseurl }}" data-title="Maimed &amp; Tamed Banner Design" data-lightbox="projects"><img src="{{ "/assets/maimed.png" | prepend: site.baseurl }}" alt=""></a>
      </div>
      <div class="box">
        <a href="{{ "/assets/project-otis.jpg" | prepend: site.baseurl }}" data-title="Otis Redding Vinyl Package Design" data-lightbox="projects"><img src="{{ "/assets/otis.png" | prepend: site.baseurl }}" alt=""></a>
      </div>
    </div>

    <div class="portfolio">
      <div class="box">
        <a href="{{ "/assets/project-mag.jpg" | prepend: site.baseurl }}" data-title="Scientific American Page Layout Design" data-lightbox="projects"><img src="{{ "/assets/magazine.png" | prepend: site.baseurl }}" alt=""></a>
      </div>
      <div class="box">
        <a href="{{ "/assets/project-heady.jpg" | prepend: site.baseurl }}" data-title="Heady Brewery Beer Label Design" data-lightbox="projects"><img src="{{ "/assets/heady.png" | prepend: site.baseurl }}" alt=""></a>
      </div>
    </div>
