

<div class="portfolio">
  <div class="box">
        <img src="{{ "/assets/n-bsb.png" | prepend: site.baseurl }}" alt="">
        <h4>Big Shot Bobs</h4>
        <span class="project-info">Website Design For A Wing Shop</span>
        <div class="project-button">
          <a href="{{ "/bob/" | prepend: site.baseurl }}">Case Study</a>
        </div>
  </div>
  <div class="box">
        <img src="{{ "/assets/n-ncd.png" | prepend: site.baseurl }}" alt="">
        <h4>NCD Specialties</h4>
        <span class="project-info">Website Design For A Welding, Fabrication &amp; Restoration Shop</span>
        <div class="project-button">
          <a href="{{ "/ncd/" | prepend: site.baseurl }}">Case Study</a>
        </div>
  </div>
</div>

    <div class="portfolio portfolio-last">
      <div class="box">
            <img src="{{ "/assets/n-heady.png" | prepend: site.baseurl }}" alt="">
            <h4>Sun Bear Hops</h4>
            <span class="project-info">A Beer Label Design Around A Sun Bear For A Fictional Brewery</span>
            <div class="project-button">
              <a href="{{ "/heady/" | prepend: site.baseurl }}">Case Study</a>
            </div>
      </div>
      <div class="box">
            <img src="{{ "/assets/n-cobra.png" | prepend: site.baseurl }}" alt="">
            <h4>Dave Parker</h4>
            <span class="project-info">T-Shirt Design Commemorating The Pittsburgh Pirate Great Dave Parker</span>
            <div class="project-button">
              <a href="{{ "/cobra/" | prepend: site.baseurl }}">Case Study</a>
            </div>
      </div>
    </div>
