---
layout: default
---

{% include header.html %}

<main class="cb-container case-box">
<h2 class="case-title">Dave Parker T-Shirt Design</h2>
<img src="{{ "/assets/cobra-case-img-1.png" | prepend: site.baseurl }}" alt="">
<img src="{{ "/assets/cobra-case-img-3.png" | prepend: site.baseurl }}" alt="">
<h2 class="case-title">Project Goals</h2>
<ul class="case-ul">
  <li>Edit Existing Portrait - Adding Cigarette &amp; Beard</li>
  <li>Chose Appropriate Font</li>
  <li>Find An Appropriate Font The Brand</li>
</ul>
<h2 class="case-title">Tools</h2>
<ul class="case-ul">
  <li>Illustrator</li>
  <li>Photoshop</li>
</ul>
<h2 class="case-title">Graphics</h2>
<img src="{{ "/assets/cobra-case-img-2.png" | prepend: site.baseurl }}" alt="">
</main>


<footer class="cb-footer">

<div class="contact">
  <span class="footer-copy"> <span clas="cb-bold-2"><a href="{{ "/" | prepend: site.baseurl }}">Go Back</a></span></span>
</div>


</footer>
