---
layout: default
---

{% include header.html %}

<main class="cb-container case-box">
<h2 class="case-title">NCD Specialties Website Design</h2>
<ul class="case-ul">
  <li><a href="https://pizzapgh.github.io/ncd-site/" target="_blank">Visit Site</a></li>
</ul>
<img class="ncd-img" src="{{ "/assets/ncd-case-img-1.png" | prepend: site.baseurl }}" alt="">
<h2 class="case-title">Project Goals</h2>
<ul class="case-ul">
  <li>Re-Design Logo</li>
  <li>Consolidate Information Onto One Page</li>
  <li>Design Welding Icons</li>
  <li>Implement Google Map API For Location Page</li>
  <li>Design Responsive Layouts For Mobile, Tablet &amp; Desktop</li>
  <li>Build Using Html/Css</li>
</ul>
<h2 class="case-title">Tools</h2>
<ul class="case-ul">
  <li>Photoshop</li>
  <li>Gulp</li>
  <li>Atom Text Editor</li>
</ul>
<h2 class="case-title">Graphics</h2>
<img src="{{ "/assets/ncd-case-img-2.png" | prepend: site.baseurl }}" alt="">
</main>


<footer class="cb-footer">

<div class="contact">
  <span class="footer-copy"> <span clas="cb-bold-2"><a href="{{ "/" | prepend: site.baseurl }}">Go Back</a></span></span>
</div>


</footer>
